<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>250441543259-k7jd885sq5mm4chp23m4emrph8q9g8ir.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.250441543259-k7jd885sq5mm4chp23m4emrph8q9g8ir</string>
	<key>API_KEY</key>
	<string>AIzaSyAMGMGrOJw1TqdytZqB_Y0-roiYRyKQ5Ho</string>
	<key>GCM_SENDER_ID</key>
	<string>250441543259</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aigo.app</string>
	<key>PROJECT_ID</key>
	<string>jigumiya</string>
	<key>STORAGE_BUCKET</key>
	<string>jigumiya.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:250441543259:ios:deadd077a127951c05197e</string>
</dict>
</plist>